@using TpCegepWeb.Controllers
@using GestionCegepWeb.Models


@{
    ViewData["Title"] = "Cegeps";
    var cegeps = ViewBag.Cegeps as List<CegepDTO>;
}

<h1>Liste des cégeps(s) (@cegeps.Count())</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Ville</th>
            <th>Province</th>
            <th>Code Postal</th>
            <th>Téléphone</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cegep in cegeps)
        {
            <tr>
                <td>@cegep.Nom</td> 
                <td>@cegep.Adresse</td> 
                <td>@cegep.Ville</td>
                <td>@cegep.Province</td>
                <td>@cegep.CodePostal</td>
                <td>@cegep.Telephone</td>
                <td>@cegep.Courriel</td>
            </tr>
        }
    </tbody>
</table>

